:root {
  --color-1: #323031;
  --color-2: #3d3b3c;
  --color-3: #7f7979;
  --color-4: #c1bdb3;
  --color-5: #5f5b6b;
}

html {
  background-color: var(--color-4);
}

main {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
  margin-block-start: 50px;
}

.form-controls-container {
  width: 45%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (width < 1200px) {
  main {
    flex-direction: column;
    gap: 50px;
  }

  .form-controls-container {
    margin: 0 auto;
  }
}
