.display-container {
  background-color: white;
  width: 100%;
  font-family: monospace;
  min-height: 800px;
  height: 900px;
  box-shadow: 0px 0px 3px 0px rgba(50, 48, 49, 0.75);
  position: sticky;
  top: 50px;
}

.personal-display-container {
  background-color: var(--color-1);
  color: white;
  text-align: center;
  padding: 20px;
}

.personal-name {
  font-size: 2rem;
  font-weight: bold;
  margin-block-end: 20px;
}

.personal-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.1rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.display-container .icon {
  width: 1.5rem;
}

.education-display-container,
.exp-display-container {
  width: 90%;
  margin: 10px auto;
}

.education-display-heading,
.exp-display-heading {
  background-color: var(--color-1);
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1.1rem;
}

.education-entry,
.exp-entry {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  font-size: 1rem;
  color: var(--color-1);
}

.left-info,
.right-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.entry-date,
.entry-name,
.exp-company {
  font-weight: bold;
}

.left-info {
  width: 30%;
}

.exp-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.exp-position {
  font-style: italic;
}

.exp-desc {
  font-size: 0.9rem;
}
