.display-container {
  border: 1px solid red;
  background-color: white;
  width: 100%;
  font-family: monospace;
}

.personal-display-container {
  background-color: var(--color-1);
  color: white;
  text-align: center;
  padding: 20px;
}

.personal-name {
  font-size: 2rem;
  font-weight: bold;
  margin-block-end: 20px;
}

.personal-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.1rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 1.5rem;
}
